/* ------------------- global ------------------- */
.apiModalContents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    padding: 4%;
}

.modalBtnZone {
    display: flex;
    width: 100%;
    height: 12%;
    justify-content: flex-end;
}

.modalBtnZone button {
    cursor: pointer;
}

.apiModalText {
    text-align: center;
}
/* ------------------- global ------------------- */
/* ------------------- makeFolder, shareDrive, renameFile  ------------------- */
.makeFolderModal input {
    width: 98%;
    height: 40px;
    font-size: 15pt;
}

.makeFolderModal button {
    width: 40%;
    font-size: 16pt;
    float: right;
    background-color: #990e17;
    border: #77050e;
    color: #f3f2f1;
}

.makeFolderModal button:active {
    background-color: #77050e;
}

/* ------------------- makeFolder, shareDrive, renameFile  ------------------- */
/* ------------------- uploadFile ------------------- */

.uploadFileModal {
    width: 100%;
    height: 100%;
}

.uploadFileModal .fileDropZone {
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
    color: #c1c2c3;
}

.uploadFileModal .fileDropZone.mouseOver {
    border: 1px solid #c1c2c3;
}

.uploadFileModal .fileDropZone:active {
    border: 1px solid #c1c2c3;
}

.FileUploader input[type="file"] {
    display: none;
}

/* ------------------- uploadFile ------------------- */
/* ------------------- embedFile ------------------- */
.embeddingModal input {
    width: 98%;
    height: 40px;
    font-size: 15pt;
}

.embeddingModal .embedModalBtns {
    display: flex;
}

.embeddingModal .embedModalBtns button {
    width: 100px;
}
/* ------------------- embedFile ------------------- */
/* ------------------- deleteFile, setBg ------------------- */
.deleteFileModal .modalBtnZone {
    justify-content: space-around;
}

.deleteFileModal button {
    width: 40%;
    font-size: 16pt;
    float: right;
    background-color: #990e17;
    border: #77050e;
    color: #f3f2f1;
}

.deleteFileModal button:active {
    background-color: #77050e;
}

/* ------------------- deleteFile, setBg ------------------- */
