#fileManager {
    display:flex;
    /* background-color: orange; */
    flex-direction: row;
    flex-wrap: wrap;
    height:100%;
}

/* ----------------- Controller ---------------- */
#controller {
    position: sticky;
    /* background-color: red; */
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 301px);
    height: 48px;
    border-bottom: 1px solid #c1c2c3;
}

#controller > ul { display: flex; justify-content: space-between; align-items: center; width: 40%; min-width: 400px; padding-left: 1%;}
.controllerItem { display: flex; align-items: center; border-radius: 10px; padding: 5px; width: 100%} 
.controllerItem:hover { background-color: #f1f2f3; }
.controllerItem:active { background-color: #e1e2e3; }
.controllerItem > span{ margin-left: 5px; }
#controller > #sort { margin-right: 1%; }

@media (max-width: 600px) {
    .controllerItem { display: none; }
}

@media (max-width: 1000px) {
    #controller { width: calc(100% - 1px); }
}
/* ----------------- Controller ---------------- */
/* ----------------- File Info ---------------- */
#fileInfo {
    position: sticky;
    display: block;
    /* top: 0px; right: 0px; bottom: 30px; */
    width: 300px;
    height: 100%;
    background-color: #f1f2f3;
    float: right;
    /* background-color: black; */
    border-left: 1px solid #c1c2c3;
}

@media (max-width: 1000px) {
    #fileInfo { display: none; }
}
/* ----------------- File Info ---------------- */
/* ----------------- Files ---------------- */
#files {
    position: sticky;
    bottom: 653px;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 301px);
    height: 48px;
}
#files > li {
    display: inline-block;
    text-align: center;
    margin-bottom: 16px;
}
.FileIcon { 
    /* background-color: rebeccapurple; */
    display: inline-block;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    float:left;
    padding: 5px;
    margin: 5px;
} 
.FileIcon .FileTitle {
    margin-top: 4px;
    text-align: center;
    display: block;
    font-size: 12px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.4);
}
.FileIcon:hover { background-color: #f1f2f3; }
.FileIcon:active { background-color: #e1e2e3; }

@media (max-width: 600px) {
    .FileIcon { display: none; }
}

@media (max-width: 1000px) {
    #files { width: calc(100% - 1px); }
}
/* ----------------- Files ---------------- */